<br/>
<div class="col-md-10 user-container">
  <h2 style="margin: auto"> Employee Details</h2>
  <div class="addemp">
  <button class="btn btn-danger" style="width:100px" (click)="addEmployee()"> Add User</button>
  </div>
    <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">designation</th>
      <th scope="col">Salary</th>
      <th scope="col">Email Id</th>
      <th scope="col">Address</th>
      <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td scope="row">{{employee.ename}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.add}}</td>
            <td>            
            <button class="btn btn-success" (click)="editEmployee(employee)" > Edit</button>
            <button class="btn btn-success" (click)="deleteEmployee(employee)" style="margin-left: 20px;"> Delete</button>
          </td>
            </tr>
    </tbody>
      </table>
  
    </div>